
.mainDiv{
    margin-top: 200px;
}
.about{
    display: flex;
    margin: 100px 0 -160px 0;
    padding: 10px 10px 0px 10px;
}
.info{
    width: 50%;
    padding: 20px;
    height: 100%;
}
.title{
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--font-1);
    margin-bottom: 20px;
    background:  linear-gradient(
        105deg,
        rgba(0, 51, 102, 1) 0%,
        rgba(47, 143, 138, 1) 100%
  );
  margin-bottom: 8px;
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description{
    display: flex;
    padding: 30px 0 0 0;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    background:  linear-gradient(
        105deg,
        rgba(0, 51, 102, 1) 0%,
        rgba(47, 143, 138, 1) 100%
  );
  margin-bottom: 8px;
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo{
    height: 500px;
    position: relative;
    left:130px;
    top: -100px;
    width: auto;
    z-index: 0;
    background-repeat: no-repeat;
    background-image: url("./img/logo.png");
}
.logo{
    transform:
      perspective(800px)
      rotateY(25deg) scale(0.9)
      rotateX(10deg);
    filter: blur(2px);
    opacity: 0.1;
    transition: 0.6s ease all;
}
  
.logo:hover {
      transform:
        perspective(800px)
        rotateY(-15deg)
        translateY(-50px)
        rotateX(10deg)
        scale(1);
      filter: blur(0);
      opacity: 1;
    }
  