
.mainDiv{
    margin-top: 200px;
}
.about{
    display: flex;
    margin: 100px 0 -160px 0;
    padding: 10px 10px 0px 10px;
}
.info{
    width: 50%;
    padding: 20px;
    height: 100%;
}
.title{
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--font-1);
    margin-bottom: 20px;
    color: var(--primary-color);
}
.description{
    display: flex;
    padding: 30px 0 0 0;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    color: var(--primary-color)
}
@media screen and (min-width:1171px){
    .logo{
        left:-90px;
    }
}
.logo{
    height: 500px;
    position: relative;
    left:130px;
    top: -100px;
    width: auto;
    z-index: 0;
    background-repeat: no-repeat;
    background-image: url("./img/logo.png");
}