
.mainDiv {
    display: flex;
    margin-top: 100px;
}

.info {

    width: 50%;
    padding: 20px;
    height: 100%;
}

.technology {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background: linear-gradient(
        105deg,
        rgba(0, 51, 102, 1) 0%,
        rgba(47, 143, 138, 1) 100%
  );
  border-radius: var(--border-radius);
}

.secondDiv {
    width: 90%;
    height: 90%;
    background-color: var(--tertiary-color);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    display:grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: auto auto auto auto;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    padding-left: 10px;
    gap: 40px;
    font-family: var(--font-1);

}

.icon {
    scale: 2;
}

.logo{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    gap: 15px;
}
.appName{
    display: flex;
    margin:-15px 10px;
    letter-spacing: 1px;
}
.list{
    padding: 10px;
    font-weight: 400;
    background:  linear-gradient(
        105deg,
        rgba(0, 51, 102, 1) 0%,
        rgba(47, 143, 138, 1) 100%
  );
  margin-bottom: 8px;
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    /* text-align-last: justify; */
    /* margin: -40px 5px 10px 0px; */
}
.features li{
    list-style: none;
    font-size: 1.2rem;
    font-family: var(--font-1);
    font-weight: 400;
    color: var(--tertiary-color);
    margin: 15px 0;
    padding: 10px;
    border-radius: var(--border-radius);
    background: linear-gradient(
        105deg,
        rgba(0, 51, 102, 1) 0%,
        rgba(47, 143, 138, 1) 100%
  );
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.title{
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--font-1);
    margin-bottom: 20px;
    text-shadow: 2px 2px 4p var(--tertiary-color);
    background:  linear-gradient(
        105deg,
        rgba(0, 51, 102, 1) 0%,
        rgba(47, 143, 138, 1) 100%
  );
  margin-bottom: 8px;
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
