.mainDiv{
    position: fixed;
    padding: 10px;
    border-radius: var(--border-radius);
    top: 20%;
    left: 30%;
    height: 60vh;
    width: 40vw;
    background-color:white ;
    overflow: auto;
}
.cross{
    display: flex;
    color: red;
    scale: 1.2;
}
.list{
    margin-top: 10px;
    padding: 10px;
    align-content: center;
    justify-content: center;
}
.list li{
    list-style: none;
    padding: 10px;
    font-weight: 400;
    background:  linear-gradient(
        105deg,
        rgba(0, 51, 102, 1) 0%,
        rgba(47, 143, 138, 1) 100%
  );
    border-radius: var(--border-radius);
    color: white;
    margin: 10px;
}
.title{
    display: flex;
    align-content: center;
}
.listDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
}